header {
    background: rgba(18, 248, 179, 0.877);
    height: 600px;

    .top-header {
        .navigation-bar {
            display: flex;
            justify-content: space-between;
            padding-bottom: 100px;
            .left{
                a{
                    font-size: 30px;
                    font-family: "Irish Grover", serif;
                    color: $primary-color;
                    font-weight: 400;
                }
            }

            .middle {
                nav {
                    ul {
                        display: flex;
                        gap: 40px;
                        font-size: 18px;
                        font-family: $primary-font;
                        color: $primary-color;
                    }
                }
            }
            .right{
                a{
                    font-family: $primary-font;
                    font-size: 18px;
                    i{
                        padding-right: 10px;
                        color: $primary-color;
                    }
                }
                .buton{
                    padding: 5px 10px;
                    background-color: $primary-color;
                    padding-inline: 5px auto;
                    border-radius: 50px;
                    transition: 0.5s;
                    color: greenyellow;
                    &:hover{
                     border: none;
                     padding: 5px 10px;
                     background-color: transparent;
                     color: $primary-color;
                    }
                }
            }
        }

    }

}

.banner {
    display: flex;
    justify-content: space-between;

    .left_detail {
        .col-4 {
            h1 {
                max-width: 500px;
                padding-bottom: 40px;
                font-size: 60px;
            }

            p {
                max-width: 300px;
                padding-bottom: 40px;
            }
            button{
                padding: 10px 20px;
                border: none;
                background-color: $primary-color;
                color: white;
                box-shadow: 0 10px rgba(0, 0, 0, 0.514);
                transition: 0.5s;
                &:hover{
                    padding: 10px 20px;
                    background-color: white;
                    color: $primary-color;

                }
            }
        }
    }

    .right_content {
        background: rgba(14, 255, 26, 0.582);
        padding: 5px 40px;
        margin-right: 80px;
        border-radius: 50px;
        .col-4 {
            img {
                width: 200px;
            }
        }
    }
}